[submodule "Library-Metadata"]
	path = Library-Metadata
	url = git@github.com:bahaelaila7/Library-Metadata.git
[submodule "Library-Utilities"]
	path = Library-Utilities
	url = git@github.com:bahaelaila7/Library-Utilities.git
[submodule "Library-Core"]
	path = Library-Core
	url = git@github.com:bahaelaila7/Library-Core.git
    branch = v8
[submodule "Library-Spatial"]
	path = Library-Spatial
	url = git@github.com:bahaelaila7/Library-Spatial.git
[submodule "Library-Datasets"]
	path = Library-Datasets
	url = git@github.com:bahaelaila7/Library-Datasets.git 
	branch = v8
[submodule "Core-Model-v8-LINUX"]
	path = Core-Model-v8-LINUX
	url = git@github.com:bahaelaila7/Core-Model-v8-LINUX.git
	branch = main
[submodule "Library-Climate"]
	path = Library-Climate
	url = git@github.com:bahaelaila7/Library-Climate.git
[submodule "Library-Parameters"]
	path = Library-Parameters
	url = git@github.com:bahaelaila7/Library-Parameters.git
[submodule "Library-Succession"]
	path = Library-Succession
	url = git@github.com:bahaelaila7/Library-Succession.git
[submodule "Library-Universal-Cohort"]
	path = Library-Universal-Cohort
	url = git@github.com:bahaelaila7/Library-Universal-Cohort.git
[submodule "Library-Initial-Community"]
	path = Library-Initial-Community
	url = git@github.com:bahaelaila7/Library-Initial-Community.git
[submodule "Extension-Biomass-Succession"]
	path = Extension-Biomass-Succession
	url = git@github.com:bahaelaila7/Extension-Biomass-Succession.git
[submodule "DensitySeedDispersal"]
	path = DensitySeedDispersal
	url = git@github.com:bahaelaila7/DesnitySeedDispersal.git
